{# Модальное окно регистрации пользователя #}
<div class="modal fade" id="registrationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="registrationModalLabel">Registration</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>

            <form id="registration_form">
                <div class="modal-body">

                    <div class="alert alert-danger" style="display: none" id="reg_errors"></div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example1">Username</label>
                        {{ registration_form.username }}
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example2">Password</label>
                        {{ registration_form.password1 }}
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example2">Password confirm</label>
                        {{ registration_form.password2 }}
                    </div>

                    <!-- Email -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example2">Email</label>
                        {{ registration_form.email }}
                    </div>

                    <!-- Name -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example2">First name</label>
                        {{ registration_form.first_name }}
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example2">Last name</label>
                        {{ registration_form.last_name }}
                    </div>

                    <!-- Submit button -->
                    <input type="submit" value="Registration" class="btn btn-primary btn-block mb-4">

                    <!-- Register buttons -->
                    <div class="text-center">
                        <p>or sign up with:</p>
                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-google"></i>
                            <img width="28" height="28" src="https://img.icons8.com/color/48/google-logo.png"
                                 alt="google-logo"/>
                        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <img width="24" height="24"
                                 src="https://img.icons8.com/external-tal-revivo-shadow-tal-revivo/24/external-yandex-a-russian-multinational-corporation-specializing-in-internet-related-products-and-services-logo-shadow-tal-revivo.png"
                                 alt="external-yandex-a-russian-multinational-corporation-specializing-in-internet-related-products-and-services-logo-shadow-tal-revivo"/>
                        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <img width="34" height="34" src="https://img.icons8.com/color/48/vk-com.png" alt="vk-com"/>
                        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <img width="28" height="28"
                                 src="https://img.icons8.com/external-tal-revivo-shadow-tal-revivo/24/external-github-with-cat-logo-an-online-community-for-software-development-logo-shadow-tal-revivo.png"
                                 alt="external-github-with-cat-logo-an-online-community-for-software-development-logo-shadow-tal-revivo"/>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{# Ajax запрос #}
<script>

    function ajaxRegistration(event) {
        let formData = new FormData(event.target);
        event.preventDefault()
        fetch("{% url 'accounts:registration' %}", {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: formData,
        })

            .then(
                response => {
                    return response.json()
                }
            )
            .then(
                data => {
                    console.log(data)
                    if (data["registration_status"] === "success") {
                        location.href = "{% url 'index:index' %}"
                    } else {
                        let errorsEl = document.getElementById("reg_errors")
                        errorsEl.style.display = "block"
                        errorsEl.innerHTML = data["reg_errors"]
                        console.log(data["reg_errors"])
                    }
                }
            )
    }

    document.getElementById("registration_form").onsubmit = ajaxRegistration
</script>