<!-- Модальное окно настроек аккаунта -->
<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="settingsModalLabel">Account settings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>

            <div class="modal-body">

                <!-- Change password -->
                <h5>Change password</h5>
                <hr>
                <form method="post" id="change_password_form">
                    {% csrf_token %}
                    <div class="change_messages" style="display: none"></div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example1">Current password</label>
                        {{ change_password_form.current_password }}
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example2">New password</label>
                        {{ change_password_form.new_password }}
                    </div>
                    <button type="submit" class="btn btn-primary">Apply</button>
                </form>
                <br>
                <div class="clearfix"></div>
                <!-- Other settings -->
                <h5>Profile settings</h5>
                <hr>
                <form method="post" id="change_image_form">
                    {{ account_settings_form }}
                    <button type="submit">Apply</button>
                </form>

                <hr>

                <a class="btn btn-primary" href="{% url 'accounts:logout' %}">Logout</a>

            </div>

        </div>
    </div>
</div>

<script>
    function ajaxChangePassword(event) {
        let formData = new FormData(event.target);
        event.preventDefault()
        fetch("{% url 'accounts:change_password' %}", {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: formData,
        })
            .then(
                response => {
                    return response.json()
                }
            )
            .then(
                data => {
                    let changeMsgEl = document.getElementById("change_messages")
                    if (data["change_password_status"] === "success") {
                        changeMsgEl.style.display = "block"
                        changeMsgEl.innerText = "Password has been changed"
                    } else {
                        changeMsgEl.style.display = "block"
                        changeMsgEl.innerText = "Incorrect password"
                    }
                }
            )
    }

    document.getElementById("change_password_form").onsubmit = ajaxChangePassword

    function ajaxChangeImage(event) {

        event.preventDefault()

        let formData = new FormData(event.target)

        fetch("{% url 'accounts:change_image' %}", {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                body: formData
            }
        )
            .then(
                response => {
                    return response.json()
                }
            )
            .then(data =>{
                console.log(data)
            })

    }

    document.getElementById("change_image_form").onsubmit = ajaxChangeImage
</script>


